/* BASE DU AN */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

/* khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
}

/* -----------common------------ */
a{
    text-decoration: none;
}

.main-content{
  width: 1170px;
  max-width: calc(100% - 28px);
  margin-left: auto;
  margin-right: auto;
}

/* -------------Header------------ */

.header {
  background: #fff;
}

.header .body{
  display: flex;
  align-items: center;
  padding: 57px 0 8px;
}

.header.fixed{
  z-index: 1;
  position: sticky;
  top: -44px;
}

.header .nav{
  margin-left: auto
}

.header .nav .list{
  display: flex;
  gap: 9px ;
}

.header .nav .list a{
  color: #2F3A3B;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  padding: 8px 15px;
}

.header .nav .list a:hover{
color: #2F3A3B;
text-shadow: 1px 0 0 currentColor;
}


.header .action .action-link{
  margin-left: 177px;
  color: #494949;
  text-align: center;
  font-size: 1.6rem;
}

.header .action .action-link:hover{
  opacity: 0.8;
}


.header .action .action-btn{
  display: inline-block;
  margin-left: 24px;
  color: #1EBFC1;
  font-size: 1.6rem;
  font-weight: 600;
  min-width: 108px;
  height: 48px;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #1EBFC1;
}

.action .action-btn:hover {
  background: #1ebfc1;
  color: white;
  transition: 0.3s;
}

/* HERO */
.hero-body{
  display: flex;
}

/* HERO-LEFT */

.hero{
  padding: 42px 0 79px;
  background-color: #fff;
}

.hero .hero-left{
  margin-top: 93px;
  width: 51%;
}

.hero .hero-left span{
  color: #767E7E;
  font-size: 1.4rem;
}

.hero .hero-left h1{
  margin-top: 18px;
  color: #0D1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16; /* 116.129% */
  max-width: 458px;
}

.hero-left .desc{
  margin-top: 46px;
  color: #9DA6A5;
  font-size: 1.8rem;
  line-height: 1.78; /* 177.778% */
  max-width: 374px;
}

.hero-left .desc .desc-span{
  display: inline-block;
  color: #9DA6A5;
  font-size: 1.8rem;
  line-height: 1.78;
}



.hero-left .hero-btn{
  margin-top: 52px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.hero-left .hero-btn .btn-hero{
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 600;
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background: #1EBFC1;
  padding: 20px 41px ;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
}

/* LÀM CỤM HOVER MỜ ĐI */
.hero-left .hero-btn .btn-hero:hover{
  opacity: 0.9;
}

.hero-left .hero-btn .btn-play{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border-radius: 62px;
  background: #fdfbfbfb;
  box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);  
}

.hero-left .hero-btn .btn-play:hover{
  background: #faf7f7e5;
  box-shadow: 0px 0px 0px 0px rgba(185, 185, 181, 0.945);
  color: #fff;
  /* transition: 0.2s; */
  cursor: pointer;
}

/* hero-right */
.hero-right{
  width: 49%;
  
  position: relative;
}

.hero-right .hero-cover{
  width: 576px;
  height: 631px;
  object-fit: cover;
}
/* course */

.hero .hero-right .course-hero{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: absolute;
  left: -40px;
  top: 149px;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #FEFEFD;
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

/* selector after để tạo vạch trắng */
.hero-right .course-hero::after{
  position: absolute;
  top: 45px;
  left: 29px;
  content: "";
  background: #FFF;
  width: 28px;
  height: 4px;
  display: inline-block;
  border-radius: 999px;
}

.hero-right .course-hero .course-img {
  width: 36px;
  height: 40px;
}

.hero-right .course-hero .course-title{
   width: 55px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

/* schedule */

.hero-right .schedule{
  width: 124px;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -65px;
  top:453px;
  
}

.hero-right .schedule span{
  margin-top: 16px;
  color: #0D1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

.hero-right .schedule .icon{
  width: 26px;
  height: 6px;
  border-radius: 3px;
  background: #EDF1F5;
}

.hero-right .schedule .icon1{
  margin-top: 16px;
}

.hero-right .schedule .icon2{
  margin-top: 12px;
}

.hero-right .schedule .icon3{
  margin-top: 10px;
}

.hero-right .schedule .icon4{
  margin-top: 16px;
  margin-bottom: 23px;
}

/* student-block */

.hero-right .student{
  width: 207px;
  border-radius: 24px;
  background: #FEFEFD;
  box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 41px;
  right: 45px;
}

/* thẻ span ko margin được , phải đổi display thành inline-block */
.hero-right .student .header{
  display: inline-block;
  color: #0D1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  margin: 17px 35px 0;
}

.hero-right .student .ava-list{
   display: flex;
  justify-content: center;
  align-items: center;
}

/* ava tròn */
.hero-right .ava-list .ava {
  margin-top: 8px;
  margin-left: -7px;
  margin-bottom: 17px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
}

.hero .ava-list .ava:first-child {
  margin-left: 0;
}

.hero-right .ava-list .ava-more{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1EBFC1;
}

.hero-right .ava-list .ava-more span{
  color: #FFF;
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
}

/* FEATURES */

.features{
  padding: 130px 0;
}

.features .body span{
  color: #767E7E;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: normal;
}
.features .body .title{
  width: 577px;
  margin-top: 18px;
  color: #0D1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
}

.features .body .desc{
  margin-top: 18px;
  width: 590px;
  color: #767E7E;
font-size: 1.8rem;
font-weight: 400;
line-height: normal;
}

.features .features-media{
  display: flex;
  margin-top: 80px;
  gap: 200px ;
}

.features .media-block .name{
  margin-top: 26px;
  color: #0D1111;
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
}

.features .media-block .desc-1{
  margin-top: 16px;
  color: #9DA6A5;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.68; /* 168.75% */
  max-width: 168px;
}

.features .media-block .desc-2{
  margin-top: 16px;
  color: #9DA6A5;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.68; /* 168.75% */
  max-width: 223px;
}

.features .media-block .desc-3{
  margin-top: 16px;
  color: #9DA6A5;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.68; /* 168.75% */
  max-width: 224px;
}

/* courses */
.course{
  padding-bottom: 130px;
}

.course .body{
  padding-bottom: 124px;
}

.course span{
  color: #767E7E;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.course .title{
  margin-top: 18px;
  color: #0D1111;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.course .body .p-block{
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course .body .p-block .para{
  max-width: 525px;
  color: #767E7E;
  font-size: 1.8rem;
  font-style: normal;
  line-height: 32px; /* 177.778% */
}

.course .body .p-block .link-course{
  color: #1EBFC1;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.course .body .p-block .link-course:hover{
  opacity: 0.9;
}

.course .body .media{
  margin-top: 79px;
  display: flex;
  gap: 47px;
}

.course .body .media .media-block{
  position: relative;
}

/* ------ chỉnh size hình ảnh phải chỉnh vào class , chỉnh width 100% object fit cover chỉnh vào thẻ img------- 
          class của img phải được đặt trong thẻ img */

.course .body .media .media-block .img-item .img-course{
  width: 359px;
  height: 393px;
  border-radius: 8px;
  opacity: 0.7;
  background: #D0EFED;
  
  
}

.course .body .media .media-block .img-item .img-course img{
  width: 100%;
  object-fit: cover;
}

.course .body .media .media-block .desc-item{
  width: 325px;
border-radius: 8px;
background: #FFF;
box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
position: absolute;
left: 17px;
right: 17px;
top: 322px;
}

.course .body .media .media-block .desc-item h3{
  margin: 18px 0 16px 25px ;
  color: #0D1111;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.course .body .media .media-block .desc-item .desc{
  margin: 0 0 6px 25px;
  color: #767E7E;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.course .body .media .media-block .desc-item .desc strong{
  color: #0D1111;
font-size: 2.2rem;
font-style: normal;
font-weight: 700;
line-height: 1.78;
}

.course .body .media .media-block .desc-item p{
  margin:  0 0 16px 25px;
  color: #9DA6A5;
  font-size: 1.4rem;
  font-style: normal;
  line-height: normal;
}

.course .body .media .media-block .desc-item .class-item{
  margin-left: 25px;
  margin-bottom: 29px;
  display: flex;
  gap: 10px ;
}

.course .body .media .media-block .desc-item .class-item span{
  color: #9DA6A5;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* NUMBER */

.number .body{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px  ;
  padding: 135px 0 130px 0;
}

.number .num-item .title{
  color: #0D1111;
  text-align: center;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: normal;
}

.number .num-item .desc{
  margin-top: 11px;
  color: #767E7E;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: normal;
}