/* BASE DU AN */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

/* khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
}

/* -----------common------------ */
a{
    text-decoration: none;
}

.main-content{
  width: 1170px;
  max-width: calc(100% - 28px);
  margin-left: auto;
  margin-right: auto;
}

/* -------------Header------------ */

.header {
  background: #fff;
}

.header .body{
  display: flex;
  align-items: center;
  padding: 57px 0 8px;
}

.header.fixed{
  z-index: 1;
  position: sticky;
  top: -44px;
}

.header .nav{
  margin-left: auto
}

.header .nav .list{
  display: flex;
  gap: 9px ;
}

.header .nav .list a{
  color: #2F3A3B;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  padding: 8px 15px;
}

.header .nav .list a:hover{
color: #2F3A3B;
text-shadow: 1px 0 0 currentColor;
}

.header .action{
  margin-left: 177px;
}

.header .action .action-link{
  color: #494949;
  text-align: center;
  font-size: 1.6rem;
}

.header .action .action-link:hover{
  opacity: 0.8;
}


.header .action .action-btn{
  margin-left: 24px;
  color: #1EBFC1;
  font-size: 1.6rem;
  font-weight: 600;
  width: 108px;
  height: 48px;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #1EBFC1;
}

.action .action-btn:hover {
  background: #1ebfc1;
  color: white;
  transition: 0.3s;
}

/* HERO */
.hero-body{
  display: flex;
}

/* HERO-LEFT */

.hero{
  padding: 42px 0 79px;
  background-color: #fff;
}

.hero .hero-left{
  margin-top: 93px;
  width: 51%;
}

.hero .hero-left span{
  color: #767E7E;
  font-size: 1.4rem;
}

.hero .hero-left h1{
  margin-top: 18px;
  color: #0D1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16; /* 116.129% */
  max-width: 458px;
}

.hero-left .desc{
  margin-top: 46px;
  color: #9DA6A5;
  font-size: 1.8rem;
  line-height: 1.78; /* 177.778% */
  max-width: 374px;
}

.hero-left .desc .desc-span{
  display: inline-block;
  color: #9DA6A5;
  font-size: 1.8rem;
  line-height: 1.78;
}



.hero-left .hero-btn{
  margin-top: 52px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.hero-left .hero-btn .btn-hero{
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 600;
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background: #1EBFC1;
  padding: 20px 41px ;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
}

/* LÀM CỤM HOVER MỜ ĐI */
.hero-left .hero-btn .btn-hero:hover{
  opacity: 0.9;
}

.hero-left .hero-btn .btn-play{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border-radius: 62px;
  background: #fdfbfbfb;
  box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);  
}

.hero-left .hero-btn .btn-play:hover{
  background: #faf7f7e5;
  box-shadow: 0px 0px 0px 0px rgba(185, 185, 181, 0.945);
  color: #fff;
  /* transition: 0.2s; */
  cursor: pointer;
}

/* hero-right */
.hero-right{
  width: 49%;
  
  position: relative;
}

.hero-right .hero-cover{
  width: 576px;
  height: 631px;
  object-fit: cover;
}
/* course */

.hero-right .course{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: absolute;
  left: -40px;
  top: 149px;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #FEFEFD;
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

/* selector after để tạo vạch trắng */
.hero-right .course::after{
  position: absolute;
  top: 45px;
  left: 29px;
  content: "";
  background: #FFF;
  width: 28px;
  height: 4px;
  display: inline-block;
  border-radius: 999px;
}

.hero-right .course .course-img {
  width: 36px;
  height: 40px;
}

.hero-right .course .course-title{
   width: 55px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

/* schedule */

.hero-right .schedule{
  width: 124px;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -65px;
  top:453px;
  
}

.hero-right .schedule span{
  margin-top: 16px;
  color: #0D1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

.hero-right .schedule .icon{
  width: 26px;
  height: 6px;
  border-radius: 3px;
  background: #EDF1F5;
}

.hero-right .schedule .icon1{
  margin-top: 16px;
}

.hero-right .schedule .icon2{
  margin-top: 12px;
}

.hero-right .schedule .icon3{
  margin-top: 10px;
}

.hero-right .schedule .icon4{
  margin-top: 16px;
  margin-bottom: 23px;
}

/* student-block */

.hero-right .student{
  width: 207px;
  border-radius: 24px;
  background: #FEFEFD;
  box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 41px;
  right: 45px;
}

/* thẻ span ko margin được , phải đổi display thành inline-block */
.hero-right .student .header{
  display: inline-block;
  color: #0D1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  margin: 17px 35px 0;
}

.hero-right .student .ava-list{
   display: flex;
  justify-content: center;
  align-items: center;
}

/* ava tròn */
.hero-right .ava-list .ava {
  margin-top: 8px;
  margin-left: -7px;
  margin-bottom: 17px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
}

.hero .ava-list .ava:first-child {
  margin-left: 0;
}

.hero-right .ava-list .ava-more{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1EBFC1;
}

.hero-right .ava-list .ava-more span{
  color: #FFF;
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
}